<!--banner-->
<div class="banner-top">
        <div class="container">
            <h3 >Login</h3>
            <h4><a href="index.html">Home</a><label>/</label>Login</h4>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--login-->
    
        <div class="login">
            <div class="main-agileits">
                    <div class="form-w3agile">
                        <h3>Login</h3>
                        <form [formGroup]="loginForm" action="#" method="post" (ngSubmit)="onSubmit()">
                            <div *ngIf="submitted && f.email.errors" id="emailErrorMsg" class="text-danger">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            </div>
                            <div class="key">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <input  #email formControlName="email" type="text" value="Email" name="Email" >
                                <div class="clearfix"></div>
                            </div>
                            
                            <div *ngIf="submitted && f.password.errors" id="passwordErrorMsg" class="text-danger">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    </div>
                            <div class="key">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                                <input  #password type="password" formControlName="password" value="Password" name="Password" >
                                <div class="clearfix"></div>
                            </div>
                           
                            <button id="loginBtn" value="Login" class="btn btn-success" >Login</button>
                        </form>
                        <br/>
                              <p>
                                <ngb-alert [type]="type" *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true">{{alert}}</ngb-alert>
                              </p>
                    </div>
                    <div class="forg">
                        <a href="#" class="forg-left">Forgot Password</a>
                        <a href="register.html" class="forg-right">Register</a>
                    <div class="clearfix"></div>
                    </div>
                </div>
            </div>