<div class="spec ">
    <h3>Cart</h3>
    <div class="ser-t">
        <b></b>
        <span><i></i></span>
        <b class="line"></b>
    </div>
</div>
<div class="modal-body">
              <p>
                <ngb-alert *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true">{{alert}}</ngb-alert>
              </p>
    <div *ngIf="itemsCount == 0; else withData"> <h2 class="text-center">{{cartMessage}}</h2><br/></div>
    <ng-template #withData>
    <br/>
    <table class="table table-hover table-responsive" id="my-cart-table" >
        <tbody >
            <tr title="summary 36" data-id="36" data-price="6.00" *ngFor="let item of items;let i = index">
                <td class="text-center" style="width: 30px;"><img width="30px" height="30px"
                        src="https://api.cart.riyas.pro/storage/{{item.product_details.image}}"></td>
                <td>{{item.product_details.name}}</td>
                <td title="Unit Price">RM {{item.unit_price}}</td>
                <td title="Quantity">
                    <input type="number" min="1" style="width: 70px;" class="my-product-quantity"
                        value="{{item.quantity}}" disabled>
                </td>
                <td title="Total" class="my-product-total">RM {{item.total_price}}</td>
                <td title="Remove from Cart" class="text-center" style="width: 30px;"><a href="javascript:void(0);" (click)="removeItem(item.product_id)"
                        class="btn btn-xs btn-danger my-product-remove">X</a></td>
            </tr>
            <tr>
                <td></td>
                <td><strong>Total</strong></td>
                <td></td>
                <td></td>
                <td><strong id="my-cart-grand-total">RM {{total}}</strong></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <h3><a (click)="createOrder()"><button class="btn btn-success pull-right">Checkout</button></a></h3>
    <h3><a (click)="clearCart()"><button class="btn btn-danger pull-left">Clear Cart</button></a></h3>
    <br/>
</ng-template>
</div>