
<!--content-->
<div class="product">
	<div class="container">
		<div class="spec ">
			<h3>Products</h3>
			<div class="ser-t">
				<b></b>
				<span><i></i></span>
				<b class="line"></b>
			</div>
		</div>
		<p>
                <ngb-alert [type]="type" *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true">{{alert}}</ngb-alert>
              </p>
		<div class=" con-w3l agileinf">
			<div class="col-md-3 pro-1" *ngFor="let product of products;let i = index">
				<div class="col-m">
					<a href="#" data-toggle="modal" data-target="#myModal1" class="offer-img">
						<img src="https://api.cart.riyas.pro/storage/{{product.image}}" class="img-responsive" alt="">
					</a>
					Qty <input class="form-control" type="number" name="qty" id="qty_{{product.id}}" min="1" value="1">
					<small *ngIf="product.discount_text!=null else default" class="text-danger">{{product.discount_text}}</small>
					<ng-template #default>
					<small>&nbsp;&nbsp;&nbsp;&nbsp;</small>
					</ng-template>
					<div class="mid-1">
						<div class="women">
							<h6><a>{{product.name}}</a></h6>
						</div>
						<div class="mid-2">
							<p><em class="item_price">RM
									{{product.base_price}}</em></p>
							<div class="block">
								<div class="starbox small ghosting"> </div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="add">
							<button class="btn btn-danger my-cart-btn my-cart-b" (click)="addToCart(product.id)">Add to
								Cart</button>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>